<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能中文-帮助文档</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="smartxt2.0 theme search">
    <meta name="author" content="liucaizhong">    
    <link rel="shortcut icon" href="/img/icon/favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top scrolled">
        <div class="container"> 
            <div class="nav-left">
                <div class="logo">
                    <a href="/index"></a>
                </div><!--//logo-->
            </div><!-- //nav-left  -->  
            <div class="nav-right">
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
                    <div class="collapse navbar-toggleable-md" id="main-nav">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">首&nbsp;&nbsp;页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">智能公告</a>
                            </li>
                            <li class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false">智能检索</a>
                                <div class="dropdown-menu dark">
                                  <a class="dropdown-item" href="/explore/theme">主题搜索</a>
                                  <a class="dropdown-item" href="/explore/topic">话题探索</a>
                                  <a class="dropdown-item" href="/explore/focus">热点观察</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/research">调研寻踪</a>
                            </li>
<!--                             <li id="loginTab" class="nav-item btn btn-primary nav-li">
                                <a class="nav-link nav-me" href="/login">登录</a>
                            </li> -->
                            <li id="userTab" class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dark">
                                    <a class="dropdown-item" href="/user">用户中心</a>
                                    <a class="dropdown-item" href="/logout">注销登录</a>
                                </div>
                            </li>
<!--                             <li class="nav-item btn btn-success">
                                <a class="nav-link" href="/signup">注册</a>
                            </li> -->
                        </ul>
                    </div><!-- //main-nav -->
                </nav><!-- //nav -->
            </div><!-- //nav-right  -->       
        </div><!--//container-->
    </header><!--//header-->     
    
    <!-- ******PRIVACY****** --> 
    <section class="help-section">
        <div class="container">
            <div id="intro">
                <p>智能中文是以海量金融文本为基础的金融大数据探索平台。与其他大数据平台不同，智能中文专门服务于证券投资活动。亿级文本数据库，全面覆盖官媒、新闻、研报、公告、论坛等信息源。智能中文提供十大特色功能，让大数据成为投资的驱动力。</p>
                <p>欢迎访问智能中文，一起探索金融大数据的秘密。</p>
            </div>
            <div id="quickstart">
                <p>主题与股票互查是智能中文的常规功能，您只需在首页搜索框中直接输入主题词或股票简称即可查询。智能中文支持“新词直接查”功能，第一时间发现投资标的；同时支持交叉搜索功能，两个主题以分号间隔，可以一次性搜索出具有双重主题的股票。</p>
                <p>高度可视化是智能中文的一大特色，查询和探索的结果将以非常直观的方式展现；各项功能上手非常快，我们还在输出页面的关键位置标注了小问号加以解释。熟悉之后，一定会越用越顺手。</p>
                <p>为了方便您快速使用各项功能，点击首页下方的功能图标，可以快速进入对应功能页面。部分功能需要登录后使用，详细帮助请查看“功能介绍”。</p>
            </div>
            <div id="ztlt">
                <p>1、入口</p>
                <p>●　首页直接搜索</p>
                <p>2、展示内容</p>
                <p>主题关注度曲线、主题指数、主题相关股（文本相关度、价格相关度展示）</p>
                <p>3、特色</p>
                <p>●　智能匹配算法动态更新，主题股时效性强</p>
                <p>●　支持“新词直接查”功能，自动启用开放式搜索，扩展了主题的范畴</p>
                <p>●　注册用户可提交新词，进一步优化个股匹配精度</p>
                <p>4、使用场景</p>
                <p>（1）搜主题，比如“一带一路”、“智能汽车”</p>
                <p>（2）搜人名，比如“王亚伟”、“最牛散户”</p>
                <p>（3）搜属性，比如“高送转”、“绩优股”</p>
                <p>（4）“新词直接查”，可直接输入新造词</p>
                <p>5、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是主题关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　主题关注度和搜索热度有什么区别？哪个好？</a><br>
                <a data-rel="#relztzs" class="helptext-a">●　什么是主题指数？智能中文的主题指数有何特别？为什么网站上有时没有主题指数？</a><br>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股是怎么确定的？</a><br>
                <a data-rel="#relztzs" class="helptext-a">●　什么是文本相关度、价格相关度？如何使用？为何有时不出现价格相关度？</a><br>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股搜索结果很少怎么办？</a><br>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股为什么和我想的不一样？</a><br>
                <a data-rel="#relxc" class="helptext-a">●　如何提高新词搜索的精确度？</a><br>
                <a data-rel="#relxc" class="helptext-a">●　为什么要提交新词？如何提交？</a><br>
            </div>
            <div id="relgzd">
                <h5>什么是主题关注度？如何使用？</h5>
                <p>关注度源于词频 (term frequency, TF) 统计，是投资者对于特定主题知悉、了解、认同、参与等体验的数值衡量。</p>
                <p>为什么关注度能够具有这种功能？这是因为，很少有人能够创造知识，绝大多数人都是知识的搬运工。而上述知悉、了解、认同、参与这些主题认知过程有一个前提，你必须先看到这一主题。某个主题被投资者看到的概率，和它的词频正相关。这是第一层联系。</p>
                <p>人具有社会性，会相互交流。投资者在知悉、了解、认同、参与主题过程中，同样会以口头或书面的方式，自发地进行传播。在互联网上的书面传播，构成了词频。这是第二层联系。</p>
                <p>可以清楚地发现，这两层联系互为因果，形成正向反馈，词频正是这个过程中的关键因素。因此我们就以词频为基础，统计关注度指标。</p>
                <p>在投资应用方面，我们主要用关注度曲线来归纳历史规律，预测未来热点。</p>
                <p>经海量数据统计发现，通过建立简单的规则，我们可以根据关注度变化预测价格波动。实际上道理很简单，不关注怎么会参与交易？不参与交易，价格又怎么会波动呢？对于主题或者股票都一样。有的新股民会说：“我偶然看到一只股票就买了。”殊不知任何偶然背后必有其概率支撑。而对于这一场景而言，词频恰恰是概率统计的核心变量。</p>
                <h5>主题关注度和搜索热度有什么区别？哪个好？</h5>
                <p>主流搜索引擎和证券信息软件都会提供类似搜索热度的指标。我们无法断言孰优孰劣，因为两者还是存在较大区别的。</p>
                <p>关注度的特殊之处在于具有正向反馈机制（请参见<a data-level="2" data-rel="#relgzd" class="helptext-a" style="padding-left:0;">“什么是主题关注度？如何使用？”</a>），它是交流的产物，具有自发的传播性。</p>
                <p>套用流行的词汇，我们可以将关注度的特征总结为：</p>
                <p>（1）转发链</p>
                <p>高度发达的互联网为六度空间理论（Six Degrees of Separation）提供了现实的土壤。任意观点经过六次充分转发，将被全世界知悉。转发，必然构成词频的累积。因此，词频是衡量人类沟通交互程度的核心指标————没有词频，就谈不上交流；</p>
                <p>（2）认同爆炸</p>
                <p>经过转发链被高度知悉的主题，并不一定能导致股价波动。如同火药的爆炸，需要一个火星。此时，如果相关股价出现一个显著变化，火星就产生了。将有越来越多的投资者参与该主题，因为他们经由转发链已经有了充分了解，并且观察到了显著涨幅。认同爆炸由此产生。</p>
                <p>认同爆炸是有消耗的。当所有认同者都已参与，而转发链无法继续产生新增认同者的时候，股价将高位回落，这是最佳的离场时机。在这个过程中，首先转发链将不断弱化，我们会观察到词频数量的回落。</p>
                <p>综上各个环节可知，词频是主题投资过程中最基础，最直观，逻辑关联最为密切的核心变量。关注度由词频产生。</p>
                <p>反观搜索量，它显然不具传播性，很难形成交流。两者区别由此产生。</p>
            </div>
            <div id="gpfc">
                <p>1、入口</p>
                <p>●　首页直接搜索</p>
                <p>2、展示内容</p>
                <p>股票关注度曲线、股票收盘价指数、股票相关主题（文本相关度、价格相关度展示）</p>
                <p>3、使用场景</p>
                <p>（1）输入“综艺股份”、“中国石油”</p>
                <p>4、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是股票关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　股票关注度和搜索热度有什么区别？哪个好？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　什么是股票收盘价指数？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　股票相关主题是怎么确定的？</a><br>
                <a data-rel="#relztzs" class="helptext-a">●　什么是文本相关度、价格相关度？如何使用？为何有时不出现价格相关度？为什么有时两个相关度都没有？</a><br>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股为什么和我想的不一样？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　为什么有些股票的搜索结果没有出现相关主题？</a><br>
            </div>
            <div id="rdgc">
                <p>1、入口</p>
                <p>●　首页功能面板，热点观察图标</p>
                <a href="/explore/focus" target="_blank" class="helptext-a">●　点此</a>
                <p>2、展示内容</p>
                <p>主题关注度曲线和主题指数（宏观变量只有关注度曲线）</p>
                <p>3、使用场景</p>
                <p>（1）总结了关注度上升最快的主题</p>
                <p>（2）总结了关注度上升最快的宏观变量</p>
                <p>（3）总结了国际关注度上升最快的主题</p>
                <p>4、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是主题关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　主题关注度和搜索热度有什么区别？哪个好？</a><br>
                <a data-rel="#relhggj" class="helptext-a">●　宏观变量的关注度有什么用？</a><br>
                <a data-rel="#relhggj" class="helptext-a">●　什么是主题的国际关注度？如何使用？</a><br>
            </div>
            <div id="ztdb">
                <p>1、入口</p>
                <p>●　首页功能面板，主题对比图标；在新打开的页面左侧功能区添加主题，如“PM2.5”加“土壤修复”</p>
                <p>2、展示内容</p>
                <p>叠加展示，多主题的主题关注度、主题指数</p>
                <p>分别展示，各主题相关股（文本相关度和价格相关度）</p>
                <p>3、使用场景</p>
                <p>1）通过主题对比，确定主题之间的轮动关系</p>
                <p>例如，对比 “PM2.5”和“土壤修复”，我们可以很清楚地发现，主题关注度之间存在此消彼长的轮动关系，可见同属环境保护范畴，人们对于关注的细分领域也是有规律的，是不是可以设计一种主题投资领域内的对冲产品？ 通过主题对比功能，您可以自主挖掘金融大数据的规律，设计出各种有价值的投资策略。</p>
                <p>4、特色</p>
                <p>高度自由的叠加设置，主题+主题、股票+股票，主题+股票，主题+股票+主题……都可以自由叠加，以挖掘更加细致的规律。</p>
                <p>5、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是主题关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　主题关注度和搜索热度有什么区别？哪个好？</a><br>
                <a data-rel="#relztbl" class="helptext-a">●　如何寻找主题之间的轮动关系？</a><br>
            </div>
            <div id="ztbl">
                <p>1、入口</p>
                <p>●　首页功能面板，主题遍历图标；在新打开的页面右侧中间点击主题遍历条</p>
                <p>2、展示内容</p>
                <p>主题遍历条</p>
                <p>主题关注度、主题指数、主题相关股（文本相关度和价格相关度）</p>
                <p>3、应用场景</p>
                <p>4、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是主题关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　主题关注度和搜索热度有什么区别？哪个好？</a><br>
<!--                 <a data-rel="#relgzd" class="helptext-a">●　什么是主题遍历条？如何使用？</a><br> -->
                <a data-rel="#relztbl" class="helptext-a">●　如何寻找主题之间的轮动关系？</a><br>
            </div>
            <div id="rqdb">
                <p>1、入口</p>
                <p>●　首页功能面板，人群对比图标；在新打开的页面左侧勾选人群类型</p>
                <p>2、展示内容</p>
                <p>叠加展示，各投资者群体之间，针对特定主题的主题关注度、主题指数</p>
                <p>分别展示，各投资者群体之间，针对特定主题的主题相关股（文本相关度和价格相关度）</p>
                <p>3、应用场景</p>
                <p>（1）针对特定主题，对比不同投资人群的认同程度</p>
                <p>（2）针对特定主题，对比不同投资人群的认可股票</p>
                <p>4、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　什么是主题关注度？如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　主题关注度和搜索热度有什么区别？哪个好？</a><br>
                <a data-rel="#reldbdj" class="helptext-a">●　不同投资人群对于同一主题的认同存在差异吗？如何利用？</a><br>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股是怎么确定的？</a><br>
                <a data-rel="#reldbdj" class="helptext-a">●　不同投资人群对于同一主题的认可股票一样吗？如何利用？</a><br>
            </div>
            <div id="lshg">
                <p>1、入口</p>
                <p>●　首页功能面板，历史回顾图标</p>
                <p>2、展示内容</p>
                <p>历史仿真环境中，主题关注度、主题指数、主题相关股（文本相关度和价格相关度）</p>
                <p>3、应用场景</p>
                <p>（1）回顾历史特定日期，主题关注度、指数及相关股票</p>
                <p>4、相关问题</p>
                <a data-rel="#relztgp" class="helptext-a">●　主题相关股是怎么确定的？</a><br>
                <a data-rel="#rellshg" class="helptext-a">●　历史回顾对投资决策有什么用？</a><br>
            </div>
            <div id="dyxz">
                <p>1、入口</p>
                <p>●　首页功能面板，调研寻踪图标</p>
                <p>2、展示内容</p>
                <p>右侧：按地区、主题分类的机构调研热度图；可点击切换左侧展示内容；</p>
                <p>左侧：各分类中接受调研公司、调研机构、调研人员、相关研报，按调研人数降序排列；</p>
                <p>3、应用场景</p>
                <p>（1）根据机构调研的各种热度分布，把握主流认可的潜在投资方向；</p>
                <p>（2）根据机构调研，采取跟随策略，寻找个股投资机会；</p>
                <p>4、相关问题</p>
                <a data-rel="#reldyxz" class="helptext-a">●　什么是机构调研？了解机构调研有什么用？</a><br>
                <a data-rel="#reldyxz" class="helptext-a">●　为什么有时显示相关研报，有时没有？有什么用？</a><br>
                <a data-rel="#reldyxz" class="helptext-a">●　机构调研信息来源于哪里？准确吗？</a><br>
            </div>
<!--             <div id="tdjk">
                <p>1、入口</p>
                <p>●　首页功能面板，态度监控图标；在新打开的页面左侧依次输入标的、态度</p>
                <p>2、展示内容</p>
                <p>标的关注度、投资者对于标的所持态度的占比，及其变动趋势</p>
                <p>3、应用场景</p>
                <p>（1）探索和监控投资者观点的多空趋势</p>
                <p>4、相关问题</p>
                <a data-rel="#relgzd" class="helptext-a">●　态度监控如何使用？</a><br>
                <a data-rel="#relgzd" class="helptext-a">●　智能中文的态度监控，和门户网站的观点投票有什么区别？哪个好？</a><br>
            </div> -->
            <div id="htts">
                <p>1、入口</p>
                <p>●　首页功能面板，话题探索图标；在新打开的页面左侧依次输入股票简称、话题</p>
                <p>2、展示内容</p>
                <p>股票话题的关注度</p>
                <p>3、应用场景</p>
                <p>（1）探索和监控投资者对于某股票话题的了解和关注程度，及其变动趋势</p>
                <p>4、相关问题</p>
                <a data-rel="#relhtts" class="helptext-a">●　话题会影响股价吗？话题探索有什么用？</a><br>
                <a data-rel="#relhtts" class="helptext-a">●　网页上显示的是话题吗？来源是哪里？</a><br>
            </div>
<!--             <div id="znyj">
                <p>具体内容请参见<span style="color:red;padding-left:0;">功能介绍</span>。</p>
            </div> -->
            <div id="zngg">
                <p>1、入口</p>
                <p>●　首页功能面板，智能公告图标</p>
                <p>2、展示内容</p>
                <p>（1）动态更新，由系统自动提取的公司公告的自动摘要</p>
                <p>（2）用户可在左侧功能区进行全文检索和分类查看</p>
                <p>3、应用场景</p>
                <p>（1）供关注公司基本面的投资者和分析师使用</p>
                <p>4、相关问题</p>
                <a data-rel="#relzngg" class="helptext-a">●　公司公告的来源是哪里？</a><br>
                <a data-rel="#relzngg" class="helptext-a">●　公告的摘要是如何获取的？为什么有些公告只有标题，没有摘要？</a><br>
            </div>
            <div id="relztgp">
                <h5>主题相关股是怎么确定的？</h5>
                <p>智能中文后台使用智能匹配算法，计算文本相关度，确定主题相关股。智能匹配算法完全基于文本信息源，经后台不断优化，目前匹配的准确性已经达到初级研究水平，可以提供初步的主题相关股票池，供进一步研究使用。</p>
                <p>智能匹配算法的优势在于速度快、新词适应性好、可历史回溯。智能匹配算法摆脱了研究的行业和板块限制，信息占用充分，覆盖面广，能够在一定程序上避免研究的主观性。</p>
                <p>对于已有概念，我们还提供了股价及其对应主题指数的相关度————价格相关度。投资者可将价格相关度与文本相关度配合使用，进一步提高匹配精度。有需要进一步了解内在机理的机构，请联络东方创新安排路演。</p>
                <h5>主题相关股搜索结果很少怎么办？</h5>
                <p>在主题搜索页面，我们提供了“采样”参数。这个设置确定了在多长时间范围内寻找主题和股票的匹配。适当增加采样参数，可以搜出更多的股票。</p>
                <h5>为什么主题相关股和我想的不一样？</h5>
                <p>智能中文搜索匹配过程完全基于文本信息源，其主题与股票对应结果并不一定代表两者之间存在真实的联系。它表达的只是人群主观普遍认为两者存在联系，这和基本面分析是有区别的。</p>
                <p>尽管模拟交易的结果比较理想，我们仍然不建议用户将智能中文的结果直接用于投资活动。我们展示群体认知，一方面是快速提供潜在股票池，供进一步深入研究使用；另一方面，如果明确知道群体认知存在偏差，也可以开发出相应的策略。</p>
                <h5>什么是股票关注度？如何使用？</h5>
                <p>基本思路及其算法请参见<a data-level="2" data-rel="#relgzd" class="helptext-a" style="padding-left:0;">什么是主题关注度？如何使用？</a></p>
                <p>我们同时会向机构客户提供股票的关注因子，用于构建多因子模型，补充客户缺少的文本信息，提高超额收益。因子回测请参见<a href="http://www.smartxt.cn:8080/factors_text.html" target="_blank" class="helptext-a" style="padding-left:0;">【智能数据网站】</a>。机构客户可联系东方创新安排路演。</p>
                <h5>股票关注度和搜索热度有什么区别？哪个好？</h5>
                <p>基本思路及其算法请参见<a data-level="2" data-rel="#relgzd" class="helptext-a" style="padding-left:0;">主题关注度和搜索热度有什么区别？哪个好？</a></p>
                <h5>什么是股票收盘价指数？</h5>
                <p>股票收盘价指数，就是根据股票的收盘价累计涨幅画出的曲线，其走势和一般K线图是一样的。为了便于和关注度叠加查看，我们采取了一些线性处理。</p>
                <h5>为什么有些股票的搜索结果没有出现相关主题？</h5>
                <p>如果在特定时期，因为关注度太少，股票没有对应的主题，则相关主题栏目将不会出现。</p>
            </div>
            <div id="relztzs">
                <h5>什么是主题指数？智能中文的主题指数有何特别？为什么网站上有时没有主题指数？</h5>
                <p>所谓主题指数，简单理解就是根据主题相关股票的价格波动，合并计算出该主题总体的价格波动。智能中文目前采用相对指数，对照基准为中证500指数。</p>
                <p>在介绍智能中文的主题指数之前，我们先看看常规的指数构建方法。</p>
                <p>假如现在（2016年3月初）需要构建苹果指数。一般的做法是，先列出苹果主题股，再用历史股价回溯一个股价曲线（指数）。但是问题在于，苹果主题是一个不断变动的范围，过去的主题股和现在的可能完全不同。例如，2016年2月恒宝股份因Apply Pay进入主题股，但在一年前它与苹果根本无关。类似这种情况非常多。结论就是，回溯而成的股价曲线，可能并不是那么可靠。一些看似科学的方法，有可能导致历史的失真。</p>
                <p>严格地讲，如何得到一个“当时的”主题股票池，是构建指数的基本前提。借助智能中文的历史回溯功能，我们可以构建一个“历史仿真”环境，获取货真价实的“当时的”主题股票池。不带任何未来信息，这就是智能中文主题指数的最大特征。</p>
                <p>对于常规主题，我们都构建了对应的指数。而用户搜索的非常规概念，特别是新词，目前是不会自动出现对应指数的。用户可以在登录后通过“新词提交”功能，向智能中文系统提交主题词，系统审核后会自动计算主题指数。请参阅<a data-level="2" data-rel="#relxc" class="helptext-a" style="padding-left:0;">为什么要提交新词？如何提交？</a></p>
                <h5>什么是文本相关度、价格相关度？如何使用？为何有时不出现价格相关度？</h5>
                <p>文本相关度是智能匹配算法得出的，主题和股票之间关联密切程度的衡量。文本相关度的计算完全基于文本信息，其取值范围在0~100之间。</p>
                <p>价格相关度是由股价及其对应主题指数，这两个时间序列的相关系数处理而成。</p>
                <p>文本相关度刻画的是，指定投资者人群（除了总体外，我们还提供了散户、从业人员和媒体三个独立群体）对于股票和主题之间对应关系的认可程度。请用户特别注意，文本相关度高，并不一定代表两者之间存在真实的联系。它表达的只是人群主观普遍认为两者存在联系，这和基本面分析是有区别的。这种群体认知可能已经体现在股价波动上，也可能还未体现，当然也可能不会体现。</p>
                <p>价格相关度刻画的是，已经被市场实现的，股票和主题之间的联系。价格相关度高，表现主题超额收益已经兑现。</p>
                <p>因此在使用方面，我们可以关注那些文本相关度高，但价格相关度低的股票。当然，反过来用可以开发对冲策略，在此不作展开。</p>
                <p>看到这里一定会有人不理解，群体认知就一定对吗？群体认知不一定对，基本面分析也不一定对。“智者千虑，必有一失；愚者千虑，必有一得”。两者都是在各自不完备信息下得出的判断，其结论都具有不确定性。恰恰是这种不确定性，导致了市场的波动。我们展示群体认知，一方面是快速提供潜在股票池，以便进一步深入研究使用；另一方面，如果明确知道群体认知存在偏差，也可以开发出相应的策略。无论如何，知己知彼总不是坏事，投资需要逆向思维。</p>
                <p>对于常规主题，我们都提供了文本相关性和价格相关性；而用户搜索的非常规概念，特别是新词，目前是不会自动出现价格相关度的，用户可通过提交新词来获得价格相关度。请参阅<a data-level="2" data-rel="#relxc" class="helptext-a" style="padding-left:0;">为什么要提交新词？如何提交？</a></p>
            </div>
            <div id="relxc">
                <h5>如何提高新词搜索的精确度？</h5>
                <p>寻找新词对应的股票，是智能算法的难点之一，当然这对于人类研究员也是一样的。智能算法的优势有两个。其一，匹配速度快，几秒之内可以出结果，相比之下，常规的基本面研究是要时间的；其二，常规的基本面研究具有相当大的主观性，不同研究员可能给出不同的结论，智能算法可以让你尽可能掌握更多的观点。</p>
                <p>当然，开发智能中文的目的并不是要取代人类研究员。我们希望通过智能中文形成潜在股票池，再由研究员进行深入研究，事半功倍，这也是我们向全体卖方研究员免费开放全部功能的初衷。这是一件具有全行业价值的事情，支持和推动创新性研究是我们共同的责任。</p>
                <p>目前注册客户可以通过主动提交新词的方式，提高搜索匹配的精确度，同时我们会一并提供对应主题指数和价格相关度。</p>
                <h5>为什么要提交新词？如何提交？</h5>
                <p>提交新词的作用有三个：</p>
                <p>1、进一步提高个股匹配的精确度；</p>
                <p>2、计算主题指数；</p>
                <p>3、计算价格相关度；</p>
                <p>提交新词的方法：</p>
                <p>用户登录后，页面右上方会出现“新词提交”功能。系统收到用户提交的新词后，审核通过后会自动优化主题表，并计算主题指数、价格相关度。</p>
            </div>
            <div id="relhggj">
                <h5>宏观变量的关注度有什么用？</h5>
                <p>宏观经济指标，对股市走势具有不小的影响。对于CPI等定期公布的指标，投资者可以定期关注。但是对于那些事件性的宏观变量（汇率、利率、流动性），什么时候会影响市场，哪个变量是目前的主因，一般投资者并不清楚。投资者可以通过<a href="/explore/focus" target="_blank" class="helptext-a" style="padding-left:0;">“宏观热词”</a>栏目来实时查看关注度最高的宏观变量。主流投资者关注的焦点，往往就是当前最重要的宏观指标。</p>
                <h5>什么是主题的国际关注度？如何使用？</h5>
                <p>国际关注度显示了国际市场上最热的主题。国际市场上的热点主题，有可能在A股市场形成共振行情。投资者可以通过<a href="/explore/focus" target="_blank" class="helptext-a" style="padding-left:0;">“国际动态”</a>栏目来实时查看国际市场上关注度最高的主题，及对应主题在国内的关注度和主题指数表现，寻找差异，发现机会。</p>
            </div>
            <div id="relztbl">
                <h5>如何寻找主题之间的轮动关系？</h5>
                <p>寻找先导指标，是一切轮动研究的首要目标。股价显然不是先导指标，因为轮动本身就是价格的规律性波动，自身不可能是自己的先导指标。智能中文系统提供的轮动解决方案，核心思想是研究主题的关注度。关注度的变化往往提前于价格变动，是非常好的先导指标。为什么呢？原因在于：关注度反映了思想，价格反映的是行动，而思想领先于行动。可能会有人不理解，关注度为何能反映思想？请参阅<a data-level="2" data-rel="#relgzd" class="helptext-a" style="padding-left:0;">什么是主题关注度？如何使用？</a>理解了这一层关系，关注度对于主题轮动的指导意义就比较直观了。关注度低位回升，可以开始关注机会；反之，关注度高位回落则有可能带来趋势的反转。当然，你也可以很方便地在关注度图上叠加主题指数，做出更精确的判断。</p>
                <!-- <p>为了方便客户翻阅常规主题的关注度，我们开发了主题遍历条功能，带来了非常便利了使用体验。投资者可以通过点击主题遍历功能来使用。</p> -->
            </div>
            <div id="rellshg">
                <h5>历史回顾对投资决策有什么用？</h5>
                <p>证券研究和许多社会科学研究一样，很多时候都试图“以史为鉴”。证券研究，特别是量化研究，都力图做到客观真实。可惜的是，一些看似科学的方法，有可能导致历史的失真。请参阅<a data-level="2" data-rel="#relztzs" class="helptext-a" style="padding-left:0;">“什么是主题指数？智能中文的主题指数有何特别？为什么网站上有时没有主题指数？”</a>。</p>
                <p>历史回顾功能的意义就在于，我们提供了一个“历史仿真”的环境，类似电视剧中的“穿越”，非常方便地实现“温故而知新”。</p>
            </div>
            <div id="reldbdj">
                <h5>不同投资人群对于同一主题的认同存在差异吗？如何利用？</h5>
                <p>物以类聚，人以群分。知识背景、研究方法，以及对新兴事物的敏感性等主客观条件，都会影响主题认知过程和速度。如果说从认知认同到投资参与的时滞是一样的，那我们就可以通过叠加不同人群的关注度，了解其各自的投资节奏。</p>
                <h5>不同投资人群对于同一主题的认可股票一样吗？如何利用？</h5>
                <p>物以类聚，人以群分。不同人群对于主题相关股的认知也不尽相同。智能中文帮助用户了解对方，“择其善者而从之，其不善者而改之。</p>
            </div>
            <div id="relhtts">
                <h5>话题会影响股价吗？话题探索有什么用？</h5>
                <p>不实话题不应当影响股价。</p>
                <p>理性投资者不会根据话题做决策，但是也不会忽视话题。同样地，上市公司也力图及时对不实话题进行辟谣。这一切都有一个前提，即需要有工具来发现话题，并揭示其传播深度。</p>
                <p>话题探索的目的仅限于此。</p>
                <h5>网页上显示的是话题吗？来源是哪里？</h5>
                <p>本网站不会主动展示任何话题。</p>
                <p>基于文本信息源，系统会实时采集投资者话题，构成话题的预警池，此过程无人工干预。网站不会主动显示这些话题。若用户确认主动要求展示话题，由此带来的一切后果，本网站及东方创新不承担任何责任。客户运用本网站的搜索结论形成的观点和传播行为，由此带来的一切后果，本网站及东方创新不承担任何责任。</p>
            </div>
            <div id="reldyxz">
                <h5>什么是机构调研？了解机构调研有什么用？</h5>
                <p>专业的证券研究和投资机构，在给出投资建议和实际决策过程中，一般都会针对标的进行实际调研。</p>
                <p>证券研究机构，一般以证券公司的证券研究所为主，在调研后可能会撰写并发布研究报告；其投资观点，将有可能在整个专业投资群体中传播，并持续一段时间。</p>
                <p>证券投资机构，比如基金公司，在调研后也有可能会根据调研结论，做出相应的投资决策。</p>
                <p>上述过程都有可能影响标的价格，因此了解机构调研动态具有一定的价值。</p>
                <p>当然，股价的影响因素很多，影响方式、时滞及相互作用也非常复杂，调研情况只是其中一个方面。用户不能仅凭调研信息进行投资决策。</p>
                <p>调研信息仅供参考，不代表投资建议。</p>
                <h5>为什么有时显示相关研报，有时没有？有什么用？</h5>
                <p>一般情况下，只有隶属于证券公司的证券研究所的证券从业人员，并且具有“证券投资咨询业务(分析师)”资格，才能发布研究报告。</p>
                <p>撰写研究报告需要时间，往往要在调研结束的几天之后，研究员才有可能发布研究报告。调研日期之后发布的研究报告，系统会打出“**”标记。</p>
                <p>如果认为没有必要，研究员也可以不撰写研究报告。</p>
                <p>网页会展示系统搜索到的，同一研究员针对同一标的公司的历史相关研报。用户可以了解研究员针对该公司的研究频率，推测双方的熟悉和了解程度。</p>
                <h5>机构调研信息来源于哪里？准确吗？</h5>
                <p>调研信息源于官方渠道。</p>
                <p>系统尽可能识别调研信息，但无法确保这些信息的100%准确、100%完备。包括调研参与机构、调研人、调研日期、历史相关研报，都有可能存在遗漏和错误。</p>
                <p>调研信息仅供参考，不代表投资建议，特此声明。</p>
            </div>
            <div id="relzngg">
                <h5>公司公告的来源是哪里？</h5>
                <p>公司公告源于官方渠道。</p>
                <p>系统尽可能识别公司公告，但无法确保这些信息的100%准确、100%完备。系统展示的公司公告有可能存在遗漏和错误。</p>
                <p>公司公告内容仅供参考，不代表投资建议，特此声明。</p>
                <h5>公告的摘要是如何获取的？为什么有些公告只有标题，没有摘要？</h5>
                <p>公告的摘要由Smartxt智能系统自动提取。实时获取公告，实时摘要提取，全程无人工干预。</p>
                <p>智能系统对摘要的提取需要不断学习，不断优化，因此并不是每一份公告都能自动提取出可用的摘要。</p>
                <p>此外，对于一些没有太多投资参考价值的公告，也不会进行自动提取。</p>
            </div>
        </div>
    </section>

    <!-- ******MENU****** -->
    <div class="help-menu">
        <div class="menu-title">帮助</div>
        <ul id="accordion" class="accordion">
            <li class="open">
                <div data-rel="intro" class="link"><i class="fa fa-info" aria-hidden="true"></i>产品简介</div>
            </li>
            <li>
                <div data-rel="quickstart" class="link"><i class="fa fa-lightbulb-o"></i>快速入门</div>
            </li>
            <li>
                <div class="link"><i class="fa fa-wrench" aria-hidden="true"></i>功能介绍<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                <ul class="submenu">
                    <li><a data-ref="#ztlt" class="active helptarget-a">主题龙头股搜索</a></li>
                    <li><a data-ref="#gpfc" class="helptarget-a">股票反查主题</a></li>
                    <li><a data-ref="#rdgc" class="helptarget-a">热点观察</a></li>
                    <li><a data-ref="#ztdb" class="helptarget-a">主题对比</a></li>
                    <li><a data-ref="#ztbl" class="helptarget-a">主题遍历</a></li>
                    <li><a data-ref="#rqdb" class="helptarget-a">人群对比</a></li>
                    <li><a data-ref="#lshg" class="helptarget-a">历史回顾</a></li>
                    <li><a data-ref="#dyxz" class="helptarget-a">调研寻踪</a></li>
                    <!-- <li><a data-ref="#tdjk" class="helptarget-a">态度监控</a></li> -->
                    <li><a data-ref="#htts" class="helptarget-a">话题探索</a></li>
                    <!-- <li><a data-ref="#znyj" class="helptarget-a">智能预警</a></li> -->
                    <li><a data-ref="#zngg" class="helptarget-a">智能公告</a></li>
                </ul>
            </li>
            <li><div class="link"><i class="fa fa-question-circle-o" aria-hidden="true"></i>常见问题<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                <ul class="submenu">
                    <li><a data-ref="#relgzd" class="active helptarget-a">关注度相关</a></li>
                    <li><a data-ref="#relztgp" class="helptarget-a">主题股票匹配相关</a></li>
                    <li><a data-ref="#relztzs" class="helptarget-a">主题指数相关</a></li>
                    <li><a data-ref="#relxc" class="helptarget-a">新词相关</a></li>
                    <li><a data-ref="#relhggj" class="helptarget-a">宏观和国际相关</a></li>
                    <li><a data-ref="#relztbl" class="helptarget-a">主题遍历与轮动相关</a></li>
                    <li><a data-ref="#rellshg" class="helptarget-a">历史回顾相关</a></li>
                    <li><a data-ref="#reldbdj" class="helptarget-a">对比与叠加相关</a></li>
                    <!-- <li><a data-ref="#" class="helptarget-a">态度监控相关</a></li> -->
                    <li><a data-ref="#reldyxz" class="helptarget-a">调研寻踪相关</a></li>
                    <li><a data-ref="#relhtts" class="helptarget-a">话题探索相关</a></li>
                    <li><a data-ref="#relzngg" class="helptarget-a">智能公告相关</a></li>
                </ul>
            </li>
        </ul>
    </div>
     
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row links">
                <a href="/about">关于我们&nbsp;</a>
                <a href="/help">帮助文档&nbsp;</a>
                <a href="/privacy">隐私申明&nbsp;</a>
                <div class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></div>
                <div class="apple" ><i class="fa fa-apple" aria-hidden="true"></i></div>
            </div>
            <div class="row copyright">
                <span><i class="fa fa-copyright" aria-hidden="true"></i>2014-2016&nbsp;Smartxt.&nbsp;All Rights Reserved(沪ICP备15056427-1号)</span>
            </div>
        </div>       
    </footer><!--//footer-->
 
    <!-- Javascript -->   
    <!-- jquery -->
    <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/back-to-top.js"></script>
    <!-- tether -->
    <script type="text/javascript" src="/lib/tether/js/tether.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script> 
    <!-- lining -->
<!--     <script type="text/javascript" src="/lib/lining/js/lining.min.js"></script>
    <script type="text/javascript" src="/lib/lining/js/lining.effect.min.js"></script> -->
    <!-- <script type="text/javascript" src="/lib/bootstrap/plugins/bootstrap-hover-dropdown.min.js"></script> -->
    <!-- i18n used in future -->
    <!-- <script type="text/javascript" src="/lib/i18n/i18n.min.js"></script> -->
    <!-- echarts -->
<!--     <script type="text/javascript" src="/lib/echarts/echarts.js"></script>
    <script type="text/javascript" src="/lib/echarts/macarons.js"></script> -->
    <!-- custom -->
    <script type="text/javascript" src="/src/common.js"></script>
    <script type="text/javascript" src="/src/help.js"></script>
            
</body>
</html> 


