<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能中文-中国领先的证券智能搜索引擎</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="smartxt2.0 homepage">
    <meta name="author" content="liucaizhong">    
    <link rel="shortcut icon" href="/img/icon/favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/styles.css">

</head> 

<body class="index-body">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top">
        <div class="container index-container"> 
            <div class="nav-left">
                <div class="logo-dfzq">
                    <a href="/index"></a>
                </div><!--//logo-->
            </div><!-- //nav-left  -->  
            <div class="nav-right">
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up my-collapse-btn" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" onclick="expandNavbar(event,true)"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <div class="collapse navbar-toggleable-md" id="main-nav">
                        <ul id="main-ul" class="nav navbar-nav">
                            <li class="nav-item index-li-hover">
                                <a class="nav-link" href="/explore/focus">市场热点</a>
                            </li>
                            <li class="nav-item index-li-hover">
                                <a class="nav-link" href="/news">智能公告</a>
                            </li>
                            <li class="nav-item index-li-hover">
                                <a class="nav-link" href="/wx">群聊助手</a>
                            </li>
                            <li class="nav-item dropdown index-li-hover" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false">智能检索</a>
                                <div class="dropdown-menu index-dropdown-menu">
                                  <a class="dropdown-item" href="/explore/theme">主题搜索</a>
                                  <a class="dropdown-item" href="/explore/topic">预期探索</a>
<!--                                   <a class="dropdown-item" href="/explore/focus">市场热点</a> -->
                                </div>
                            </li>
                            <li class="nav-item index-li-hover">
                                <a class="nav-link" href="/research">调研寻踪</a>
                            </li>
                            <li class="nav-item index-li-hover">
                                <a class="nav-link" href="/prediction">智能预警</a>
                            </li>
                            <li class="nav-item index-li-logon">
                                <a class="nav-link" href="/login">登&nbsp;&nbsp;录</a>
                            </li>
<!--                             <li id="userTab" class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dark">
                                    <a class="dropdown-item" href="/user">用户中心</a>
                                    <a class="dropdown-item" href="/logout">注销登录</a>
                                </div>
                            </li> -->
<!--                             <li class="nav-item btn btn-success">
                                <a class="nav-link" href="/signup">注册</a>
                            </li> -->
                        </ul>
                    </div><!-- //main-nav -->
                </nav><!-- //nav -->
            </div><!-- //nav-right  -->       
        </div><!--//container-->
    </header><!--//header-->
    
    <!-- ******BANNER****** -->
    <section class="banner section-1">
        <div class="container">
            <div class="logo"></div>
            <p class="title">东方智能中文,证券投资专用的智能搜索引擎</p>
            <div class="search col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                <form class="input-group" action="/explore/theme" method="POST">
                    <input id="searchKeyword" name="keyword" type="text" class="form-control" placeholder="输入任意股票、主题或关键字" autocomplete="on" list="allConcepts">
                    <datalist id="allConcepts">
                    </datalist>
                    <span class="input-group-btn">
                        <button id="goBtn" class="btn btn-primary" disabled="true" aria-disabled="true" type="submit">Go!</button>
                    </span>
                </form>
            </div>
<!--             <div id="stockList" class="stock-list">
                <ul class="stock-ul">
                </ul>
            </div> -->
        </div>
    </section>

    <!-- ******Section2****** -->
    <section class="banner section-2">
        <div class="container">
            <h2>告诉你最热的主题&nbsp;&nbsp;最强的概念</h2><br>
            <h5>潜在热点动态排序，主题投资智能助手</h5>
            <img src="./img/figures/topic-search.png" alt="topic-hot">
            <div class="index-go-btn">
                <a href="/explore/theme">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>

    <!-- ******Section3****** -->
    <section class="banner section-3">
        <div class="container">
            <h2>行动才是硬道理&nbsp;&nbsp;调研才是真爱</h2><br>
            <h5>A股40983人次机构调研跟踪发现，集中调研的股票显著强于大盘</h5>
            <img src="./img/figures/research-track.png" alt="research-track">
            <div class="index-go-btn">
                <a href="/research">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>

    <!-- ******Section4****** -->
    <section class="banner section-4">
        <div class="container">
            <h2>事件投资新玩法——事件预期投资</h2><br>
            <h5>事件预期一目了然，知己知彼被拒绝接盘</h5>
            <img src="./img/figures/forecast.png" alt="forecast">
            <div class="index-go-btn">
                <a href="/explore/topic">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>

    <!-- ******Section5****** -->
    <section class="banner section-5">
        <div class="container">
            <h2>PDF自动摘要&nbsp;&nbsp;打造公司公告的智能化入口</h2><br>
            <h5>24h实时更新，支持全文搜索，分行业分类型展示，全文阅读通道</h5>
            <img src="./img/figures/news.png" alt="news">
            <div class="index-go-btn">
                <a href="/news">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>

    <!-- ******Section6****** -->
    <section class="banner section-6">
        <div class="container">
            <h2>黑天鹅预警快人一步&nbsp;&nbsp;风险控制安全第一</h2><br>
            <h5>主动、量化、风控、两融、期货，黑天鹅预警已成为各类客户最欢迎的功能</h5>
            <img src="./img/figures/news_alert_help_main.jpg" alt="prediction">
            <div class="index-go-btn">
                <a href="/prediction">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>

    <!-- ******Section7****** -->
    <section class="banner section-7">
        <div class="container">
            <h2>群太多来不及看？&nbsp;&nbsp;你需要群聊的“聚合式”展示</h2><br>
            <h6>现已收录新财富各券商微信群；支持分类查看、全文搜索；支持自选股消息推送</h6>
            <h6>快快加入吧，不要让你的群消息再睡大觉了</h6>
            <img src="./img/figures/chat.png" alt="chat">
            <div class="index-go-btn">
                <a href="/wx">前&nbsp;&nbsp;往</a>
            </div>
        </div>
    </section>
   
    <!-- ******FOOTER****** --> 
    <footer class="footer section-8">
        <div class="container">
            <div class="row links">
                <a href="/about">关于我们&nbsp;</a>
                <a href="/help">帮助文档&nbsp;</a>
                <a href="/privacy">免费条款&nbsp;</a>
                <div class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></div>
                <div class="apple" ><i class="fa fa-apple" aria-hidden="true"></i></div>
            </div>
            <div class="row copyright">
                <span><i class="fa fa-copyright" aria-hidden="true"></i>2014-2016&nbsp;Smartxt.&nbsp;All Rights Reserved(沪ICP备15056427-1号)</span>
            </div>
        </div>       
    </footer><!--//footer-->

    <div class="btn-updown">
        <span><i class="fa fa-chevron-up" aria-hidden="true" onclick="scrollUp()"></i></span>
        <span><i class="fa fa-chevron-down" aria-hidden="true" onclick="scrollDown()"></i></span>
    </div>
 
    <!-- Javascript -->  
    <!-- get data from nodejs -->
    <script>
        window.user = '{{user}}';
    </script> 
    <!-- jquery -->
    <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/jquery.placeholder.min.js"></script>
    <!-- <script type="text/javascript" src="/lib/jquery/plugins/back-to-top.js"></script> -->
    <!-- tether -->
    <script type="text/javascript" src="/lib/tether/js/tether.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script> 
<!--     <script type="text/javascript" src="/lib/bootstrap/plugins/bootstrap-hover-dropdown.min.js"></script> -->
    <!-- i18n used in future -->
    <!-- <script type="text/javascript" src="/lib/i18n/i18n.min.js"></script> -->
    <!-- custom -->
    <script type="text/javascript" src="/src/common.js"></script>
    <script type="text/javascript" src="/src/index.js"></script> 
            
</body>
</html> 


