<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能中文-免费条款</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="smartxt2.0 theme search">
    <meta name="author" content="liucaizhong">    
    <link rel="shortcut icon" href="/img/icon/favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top scrolled">
        <div class="container"> 
            <div class="nav-left">
                <div class="logo">
                    <a href="/index"></a>
                </div><!--//logo-->
            </div><!-- //nav-left  -->  
            <div class="nav-right">
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
                    <div class="collapse navbar-toggleable-md" id="main-nav">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/explore/focus">市场热点</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">智能公告</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/wx">群聊助手</a>
                            </li>
                            <li class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false">智能检索</a>
                                <div class="dropdown-menu dark">
                                  <a class="dropdown-item" href="/explore/theme">主题搜索</a>
                                  <a class="dropdown-item" href="/explore/topic">预期探索</a>
<!--                                   <a class="dropdown-item" href="/explore/focus">市场热点</a> -->
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/research">调研寻踪</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/prediction">智能预警</a>
                            </li>
<!--                             <li id="loginTab" class="nav-item btn btn-primary nav-li">
                                <a class="nav-link nav-me" href="/login">登录</a>
                            </li> -->
                            <li id="userTab" class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dark">
                                    <a class="dropdown-item" href="/user">用户中心</a>
                                    <a class="dropdown-item" href="/logout">注销登录</a>
                                </div>
                            </li>
<!--                             <li class="nav-item btn btn-success">
                                <a class="nav-link" href="/signup">注册</a>
                            </li> -->
                        </ul>
                    </div><!-- //main-nav -->
                </nav><!-- //nav -->
            </div><!-- //nav-right  -->       
        </div><!--//container-->
    </header><!--//header-->     
    
    <!-- ******PRIVACY****** --> 
    <section class="privacy-section">
        <div class="container">
            <div class="privacy">
                <h3 class="privacy-title">免费条款</h3>
                <p>东方创新提醒您：在使用本网站前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用本网站，但如果您使用本网站，您的使用行为将被视为对本声明全部内容的认可。</p>
                <p>本网站产品由东方创新制作及发布。</p>
                <p>本网站及其所有相关产品仅供东方创新客户使用。东方创新不会因任何人打开、使用、登录本网站或收到本网站相关产品而视其为东方创新的当然客户。</p>
                <p>东方创新尽最大诚信和努力收集及传送数据，但不对收集数据的真实性、及时性及传输过程中发生的传送错误承担除更正以外的法律责任。东方创新通过本网站以及各类隶属于本网站产品的统计汇编作品提供给用户的所有信息、数据、界面、工具仅供用户及其客户参考，东方创新对因数据错误、传送错误、网络故障、功能缺陷及其它可能的质量缺陷或错误造成用户及其客户业务所受的实际或期待利益损失不承担责任，用户有责任知会其所有使用者。</p>
                <p>本网站产品以及各类隶属于本网站产品的统计报表汇编作品提供的信息中所引述机构或个人的观点、言论、话题、数据及其他信息仅作参考之目的，不代表东方创新赞同其观点或证实其描述，请客户自行判断，东方创新无需承担任何责任。</p>
                <p>鉴于本网站以非人工方式搜集信息、机器自动处理及生成页面，一切因使用本网站而可能遭致的意外、疏忽、侵权及其造成的损失，东方创新对其概不负责，亦不承担任何法律责任。</p>
                <p>在任何情况下，东方创新不对任何人因使用本网站中的任何内容所引致的任何损失负任何责任，投资者需自行承担风险。本站提供的信息仅供参考。股市有风险，入市需谨慎！</p>
                <p>东方创新尊重并保护所有使用本网站用户的隐私权，您注册的用户名、电子邮件地址等个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，东方创新不会主动地泄露给第三方。</p>
                <p>在任何情况下，本网站中的信息或所表述的意见并不构成对任何人的投资建议，也没有考虑到个别客户特殊的投资目标、财务状况或需求。客户应考虑本网站中的任何信息、意见或建议是否符合其特定状况，若有必要应寻求专家意见。本网站所载的信息、资料、工具、意见及推测只提供给客户作参考之用，并非作为或被视为出售或购买证券或其他投资标的的邀请或向人作出邀请。</p>
                <p>本网站内容及功能如有变更，恕不另行通知。东方创新保留在不另行通知的情况下，对其中所包含的功能进行更改的权利。用户原因导致服务中止、终止，东方创新不承担退费、补偿等责任；东方创新特别提醒用户注意，用户承诺同意东方创新有权变更、中止或终止部分或全部服务，因此造成用户或第三方损失的，东方创新不承担退费、赔偿或者补偿等任何形式的责任。</p>
                <p>东方创新保留随时修改或补充本服务条款的权利，修改或补充本服务条款时，东方创新不另行对用户进行个别通知。若用户不同意修改或补充的内容，可停止使用东方创新的服务，东方创新不承担返还、退费、赔偿或者补偿等任何形式的责任。若用户继续使用东方创新的服务，即视为用户已接受东方创新所修改或补充的内容。</p>
                <p>本网站主要以网页分发，版权归东方创新所有。未经东方创新事先书面授权，任何机构或个人不得以任何形式复制、转发或公开传播本网站，不得将本网站作为诉讼、仲裁、传媒所引用之证明或依据，不得用于营利或用于未经允许的其它用途。如需引用、刊发或转载本网站，需注明出处为<strong>“智能中文 - www.smartxt.cn”</strong>，且不得对本网站进行任何有悖原意的引用、删节和修改。
                </p>
            </div>
        </div>
    </section>
     
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row links">
                <a href="/about">关于我们&nbsp;</a>
                <a href="/help">帮助文档&nbsp;</a>
                <a href="/privacy">免费条款&nbsp;</a>
                <div class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></div>
                <div class="apple" ><i class="fa fa-apple" aria-hidden="true"></i></div>
            </div>
            <div class="row copyright">
                <span><i class="fa fa-copyright" aria-hidden="true"></i>2014-2016&nbsp;Smartxt.&nbsp;All Rights Reserved(沪ICP备15056427-1号)</span>
            </div>
        </div>       
    </footer><!--//footer-->
 
    <!-- Javascript -->   
    <!-- jquery -->
    <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/back-to-top.js"></script>
    <!-- tether -->
    <script type="text/javascript" src="/lib/tether/js/tether.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script> 
    <!-- lining -->
<!--     <script type="text/javascript" src="/lib/lining/js/lining.min.js"></script>
    <script type="text/javascript" src="/lib/lining/js/lining.effect.min.js"></script> -->
    <!-- <script type="text/javascript" src="/lib/bootstrap/plugins/bootstrap-hover-dropdown.min.js"></script> -->
    <!-- i18n used in future -->
    <!-- <script type="text/javascript" src="/lib/i18n/i18n.min.js"></script> -->
    <!-- echarts -->
<!--     <script type="text/javascript" src="/lib/echarts/echarts.js"></script>
    <script type="text/javascript" src="/lib/echarts/macarons.js"></script> -->
    <!-- custom -->
    <script type="text/javascript" src="/src/common.js"></script>
            
</body>
</html> 


