<!DOCTYPE html>
<html lang="en">
<head>
    <title>智能中文-主题搜索</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="smartxt2.0 theme search">
    <meta name="author" content="liucaizhong">    
    <link rel="shortcut icon" href="/img/icon/favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <!-- Datepicker -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-datetimepicker.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top scrolled">
        <div class="container"> 
            <div class="nav-left">
                <div class="logo">
                    <a href="/index"></a>
                </div><!--//logo-->
            </div><!-- //nav-left  -->  
            <div class="nav-right">
                <nav class="navbar">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
                    <div class="collapse navbar-toggleable-md" id="main-nav">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index">首&nbsp;&nbsp;页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/news">智能公告</a>
                            </li>
                            <li class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false">智能检索</a>
                                <div class="dropdown-menu dark">
                                  <a class="dropdown-item" href="/explore/theme">主题搜索</a>
                                  <a class="dropdown-item" href="/explore/topic">话题探索</a>
                                  <a class="dropdown-item" href="/explore/focus">热点观察</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/research">调研寻踪</a>
                            </li>
<!--                             <li id="loginTab" class="nav-item btn btn-primary nav-li">
                                <a class="nav-link nav-me" href="/login">登录</a>
                            </li> -->
                            <li id="userTab" class="nav-item dropdown" data-hover="dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-close-others="false" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dark">
                                    <a class="dropdown-item" href="/user">用户中心</a>
                                    <a class="dropdown-item" href="/logout">注销登录</a>
                                </div>
                            </li>
<!--                             <li class="nav-item btn btn-success">
                                <a class="nav-link" href="/signup">注册</a>
                            </li> -->
                        </ul>
                    </div><!-- //main-nav -->
                </nav><!-- //nav -->
            </div><!-- //nav-right  -->       
        </div><!--//container-->
        <div id="slide-trigger" class="slide-trigger" onclick="onTriggerSlide(this)">
            <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
            <!-- <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i> -->
        </div>    
    </header><!--//header-->      
    
    <!-- ******CONDITIONS****** -->
    <section class="theme-conditions">
        <div class="container bottom-line">
            <form id="form-theme" action="">
                <!-- method -->
                <div class="form-group row">
                    <label for="btnMethod" class="col-xs-4 col-lg-2 col-form-label form-label"><i class="fa fa-search" aria-hidden="true"></i>采样方式</label>
                    <div id="btnMethod" class="col-xs-8 col-lg-10">
                        <button id="m0" type="button" class="btn btn-valid" onclick="onMethod(this)">按主题</button>
                        <button id="m1" type="button" class="btn btn-invalid" onclick="onMethod(this)">按来源</button>
                        <button id="m2" type="button" class="btn btn-invalid" onclick="onMethod(this)">高级搜索</button>
                    </div>
                </div>
                <!-- date -->
                <div class="form-group row well">
                    <label for="datepicker" class="col-xs-4 col-lg-2 col-form-label form-label"><i class="fa fa-calendar" aria-hidden="true"></i>回溯日期</label>
                    <div id="datepicker" class="col-xs-8 col-lg-10 input-append date-picker bottom-line">
                        <input id="date-input" data-format="yyyy/MM/dd" type="text" class="date-input"></input>
                        <span class="add-on">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <!-- period -->
                <div class="form-group row">
                    <label for="btnPeriod" class="col-xs-4 col-lg-2 col-form-label form-label"><i class="fa fa-clock-o" aria-hidden="true"></i>样本天数</label>
                    <div id="btnPeriod" class="col-xs-8 col-lg-10">
                        <button id="p0" type="button" class="btn btn-valid" onclick="onPeriod(this)">10天</button>
                        <button id="p1" type="button" class="btn btn-invalid" onclick="onPeriod(this)">30天</button>
                        <button id="p2" type="button" class="btn btn-invalid" onclick="onPeriod(this)">60天</button>
                        <button id="p3" type="button" class="btn btn-invalid" onclick="onPeriod(this)">90天</button>
                        <button id="p4" type="button" class="btn btn-invalid" onclick="onPeriod(this)">120天</button>
                    </div>
                </div>
                <!-- source -->
                <div class="form-group row">
                    <label for="btnSource" class="col-xs-4 col-lg-2 col-form-label form-label"><i class="fa fa-users" aria-hidden="true"></i>关注人群</label>
                    <div id="btnSource" class="col-xs-8 col-lg-10">
                        <button id="s0" type="button" class="btn btn-valid" onclick="onSource(this)">投资者总体</button>
                        <button id="s1" type="button" class="btn btn-invalid" onclick="onSource(this)">散户群体</button>
                        <button id="s2" type="button" class="btn btn-invalid" onclick="onSource(this)">从业人群</button>
                        <button id="s3" type="button" class="btn btn-invalid" onclick="onSource(this)">新闻媒体</button>
                    </div>
                </div>
                <!-- theme -->
                <div class="form-group row">
                    <label for="theme" class="col-xs-4 col-lg-2 col-form-label form-label theme-label"><i class="fa fa-file-text-o" aria-hidden="true"></i>主题信息</label>
                    <div id="theme" class="col-xs-8 col-lg-10">
                        <input id="theme-input" type="text" class="theme-input" placeholder="输入关键字用于描述要查询的主题信息,例如 “钢铁”" onkeypress="onEnterTheme(event)"></input>
                        <span>
                          <i class="fa fa-plus-circle fa-2x" aria-hidden="true" onclick="addTheme(this)"></i>
                        </span>
                    </div>
                </div>
                <!-- theme tags -->
                <div id="theme-tags" class="theme-tags form-group row">
                </div>
                <!-- submit -->
                <button type="submit" class="btn btn-primary offset-xs-2 offset-lg-2 btn-submit">生成图表</button>
            </form>
            <div id="error-msg" class="none alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" aria-label="Close" onclick="delAlert(this)">
                <span aria-hidden="true">&times;</span>
              </button>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <strong></strong> 
            </div>
        </div>
    </section>

    <!-- ******CHARTS****** -->
    <section id="charts" class="charts">
        <div class="container theme-toolbar">
            <ul id="sourceNavs" class="nav nav-pills source-navs none">
              <li class="nav-item">
                <a id="sn0" class="nav-link" onclick="onsourceNav(this)">投资者总体</a>
              </li>
              <li class="nav-item">
                <a id="sn1" class="nav-link" onclick="onsourceNav(this)">散户群体</a>
              </li>
              <li class="nav-item">
                <a id="sn2" class="nav-link" onclick="onsourceNav(this)">从业人群</a>
              </li>
              <li class="nav-item">
                <a id="sn3" class="nav-link" onclick="onsourceNav(this)">新闻媒体</a>
              </li>
            </ul>
            <div class="theme-inputbar">
                <div id="inputFreshWord" class="input-group inputFreshWord">
                    <input id="fresh-word" type="text" class="form-control" placeholder="请输入新词" autocomplete="off">
                    <span class="input-group-btn">
                        <button id="btnFresh" class="btn btn-primary" type="button" onclick="onAddFreshWord(this)" disabled="true">提交</button>
                    </span>
                </div>
                <div>
                    <span class="btn-theme-collect"><i class="fa fa-star-o fa-2x btn-star" title="收藏" onclick="onStar(this)" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div id="line-chart" class="container">
        </div>
    </section>

    <section class="charts">
        <div class="container"> 
            <!-- Nav tabs -->
            <ul id="tab-list" class="nav nav-tabs" role="tablist">
            </ul>

            <!-- Tab panes -->
            <div id="tab-content" class="tab-content">
            </div>

        </div>
    </section>

    <div id="fade-alert">
        <div>
            <i class="fa fa-check fa-2x" aria-hidden="true"></i>
            <span id="fade-msg"></span>
        </div>
    </div>
     
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row links">
                <a href="/about">关于我们&nbsp;</a>
                <a href="/help">帮助文档&nbsp;</a>
                <a href="/privacy">隐私申明&nbsp;</a>
                <div class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></div>
                <div class="apple" ><i class="fa fa-apple" aria-hidden="true"></i></div>
            </div>
            <div class="row copyright">
                <span><i class="fa fa-copyright" aria-hidden="true"></i>2014-2016&nbsp;Smartxt.&nbsp;All Rights Reserved(沪ICP备15056427-1号)</span>
            </div>
        </div>       
    </footer><!--//footer-->
 
    <!-- Javascript -->   
    <!-- get data from nodejs -->
    <script>
        window.concept = '{{concept}}';
        window.themes = '{{themes}}';
        window.sources = '{{sources}}';
        window.user = '{{user}}';
    </script>
    <!-- jquery -->
    <script type="text/javascript" src="/lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/plugins/back-to-top.js"></script>
    <!-- tether -->
    <script type="text/javascript" src="/lib/tether/js/tether.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script> 
    <!-- <script type="text/javascript" src="/lib/bootstrap/plugins/bootstrap-hover-dropdown.min.js"></script> -->
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <!-- i18n used in future -->
    <!-- <script type="text/javascript" src="/lib/i18n/i18n.min.js"></script> -->
    <!-- echarts -->
    <script type="text/javascript" src="/lib/echarts/echarts.js"></script>
    <script type="text/javascript" src="/lib/echarts/macarons.js"></script>
    <!-- custom -->
    <script type="text/javascript" src="/src/common.js"></script>
    <script type="text/javascript" src="/src/theme.js"></script>
            
</body>
</html> 


