* {
  /*font-size: 16px;*/
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
}

a:visited {
  color: #fff;
}

a:link {
  color: #fff;
}

.none {
  display: none;
}

.dark {
  background-color: rgba(20,34,69,1);
}

.index-dropdown-menu {
  background: none;
}

.index-dropdown-menu>a{
  color: #fff;
}

.index-dropdown-menu>a:hover {
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
  text-align: center;
  min-width: 100px;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #3c414b;;
}

.dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
}

/* ======= Header ======= */
.header {
  width: 100%;
  height: 60px;
}

.scrolled {
  height: 60px;
  top: 0;
  background-color: rgba(20,34,69,1);
}

.header a {
  height: 60px;
  padding-top: 15px !important;
/*  padding-left: 10px;
  padding-right: 10px;*/
  /*font-size: 16px;*/
  /*font-weight: bold;*/
  /*font-family: Raleway,Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,FreeSans,Arimo,Droid Sans,wenquanyi micro hei,Hiragino Sans GB,Hiragino Sans GB W3,sans-serif;*/
}

.index-container {
    border-bottom: .2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
    padding-top: 15px;
}

.index-body {
  height:100%; 
  overflow-y: hidden;
}

.header .index-li-hover:hover {
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.index-li-logon{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-left: 10px !important;
  background: none;
}
.header li.index-li-logon:hover {
  background: none;
}

.index-go-btn {
  text-decoration: none;
  padding: 5px 20px;
  width: 80px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  height: 40px;
}

.index-go-btn>a:hover {
  text-decoration: none;
}

a.nav-me {
  padding-top: 10px !important;
}

li.btn.nav-item.nav-li {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
}

.header nav {
  padding-top: 0;
  padding-bottom: 0;
}

.header li {
  height: 60px;
  width: 100px;
}

.header li:hover {
  background-color: #369;
}

.dropdown-menu {
  margin: 0 0;
  padding: 0 0;
  border-style: none;
  border-radius: 0;
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 0;
}

.nav-left {
  float: left;
  padding-top: 10px;
}

.nav-right {
  float: right;
}

.header div.logo a {
  background-image: url('../img/icon/logo_transp.png');
  background-size: 180px;
  background-repeat: no-repeat;
  display: block;
  width: 180px;
  height: 40px;
}

.header div.logo-dfzq a {
  background-image: url('../img/icon/logo-dfzq.png');
  background-size: 50px;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}

.header .nav-item {
  padding: 0 10px;
  text-align: center;
}

/* ======= Banner ======*/
.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../img/background/bg_all.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  -webkit-transition: transform .8s ease;
  -moz-transition: transform .8s ease;
  -ms-transition: transform .8s ease;
  transition: transform .8s ease;
}

.banner img {
    width: 90%;
    max-width: 900px;
    /*max-height: 540px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner.section-1 {
  background-image: url('../img/background/index_gb.jpg');
  /*background-color: #33f;*/
  z-index: 40;
}

.banner.section-2 {
  background-color: #DE9204;
  z-index: 39;
}

.banner.section-3 {
  background-color: #DE5D04;
  z-index: 38;
}

.banner.section-4 {
  background-color: #C8AD02;
  z-index: 37;
}

.banner.section-5 {
  background-color: #0DC2D5;
  z-index: 36;
}

.banner.section-6 {
  background-color: #14638E;
  z-index: 35;
}

.banner.section-7 {
  background-color: #E47112;
  z-index: 34;
}

.banner>.container {
  /*margin-top: 200px;*/
  top: 18%;
  text-align: center;
  color: #fff;
  position: relative;
}

.banner.section-1>.container {
    top: 26%;
}

.banner .logo {
  background-image: url('../img/icon/bg_all_dark.png');
  background-size: 260px;
  background-repeat: no-repeat;
  display: block;
  width: 260px;
  height: 60px;
  margin: 0 auto;
}

.banner .title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 5px;
  color: #0C0101;
}

.banner .search {
  margin-top: 0;
}

/* ====== Footer ======*/
.footer {
  z-index: 30;
  min-height: 150px;
  background-color: rgba(20,34,69,1);
  width: 100%;
}

.footer.section-8 {
  position: absolute;
  /*bottom: 0;*/
  -webkit-transition: transform .8s ease;
  -moz-transition: transform .8s ease;
  -ms-transition: transform .8s ease;
  transition: transform .8s ease;
}

.footer .links {
  padding-top: 40px;
  text-align: center;
}

.footer .links > a {
  color: #999;
}

.links .weixin {
  display: inline-block;
  color:#fff;
  border-radius: 30%;
  width: 30px;
  text-align: center;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.links .weixin:hover {
  color:#fff;
  background-color: #449d44;
  border-color: #419641;
}

.links .apple {
  display: inline-block;
  color:#fff;
  border-radius: 30%;
  width: 30px;
  background-color: #00003c;
  border-color: #00003c;
}

.links .apple:hover {
  color:#fff;
  background-color: #00002a;
  border-color: #00002a;
}

.footer .copyright {
  font-size: 16px;
  line-height: 71px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #999;
}

/* ====== Theme.html ======*/
.theme-conditions {
  margin-top: 120px;
  padding-bottom: 10px;
}

.theme-conditions > .container {
  display: none;
}

.bottom-line {
  border-bottom: 1px solid #e3e3e3;
}

.slide-trigger {
  margin-top: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #e3e3e3;
}

.form-label {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 12px;
}

.btn-invalid, .btn-valid {
  margin-right: 10px;
  background-color: #fff;
  border-color: #ccc;
  position: relative;
}

.btn-valid {
  color: #96f;
  border-color: #96f;
}

[class*="btn-valid"]::after {
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  background: transparent url('../img/icon/checked.png') 50% no-repeat;
  box-sizing: border-box;
}

.btn-invalid {
  color: #999;
}

.btn-submit {
  width: 200px;
  margin-bottom: 20px;
}

.date-picker {
  width: 150px;
}

.date-input {
  width: 100px;
  padding-left: 6px;
  border-style: none;
  padding-top: 4px
}

.bootstrap-datetimepicker-widget>ul {
  padding-left: 0;
}

.theme-input {
  width: 40%;
  padding-left: 6px;
  border-style: none;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 4px
}

.theme-label {
  padding-top: 8px;
}

i[class*="fa-plus-circle"]:hover,
i[class*='fa-star-o']:hover, 
i[class*='fa-angle-double-down']:hover,
i[class*='fa-angle-double-up']:hover {
  cursor: pointer;
}

.theme-tag {
  text-align: center;
  margin-right: 5px;
  padding-left: 0;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.theme-tags {
  margin-left: 15%;
}

#line-chart {
  width: 100%;
  height: 360px;
}

#tab-content div[class*='rel-chart-l'] {
  width: 55%;
  height: 400px;
  float: left;
  /*margin-bottom: 10px;*/
}

#tab-content div[class*='rel-chart-l'] > div {
  width: inherit;
}

#tab-content div[class*='rel-chart-r'] {
  width: 45%;
  height: 400px;
  float: left;
  /*margin-bottom: 10px;*/
}

#tab-content div[class*='rel-chart-r'] > div {
  width: inherit;
}

/* ====== Topic.html ======*/
.topic-conditions {
  margin-top: 90px;
}

.topic-collect {
  text-align: right;
  display: none;
}

.topic-input {
  padding-left: 6px;
  border-style: none;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 4px;
  margin-bottom: 15px;
}

.btn-submit-topic {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  padding-top: 4px;
  margin-bottom: 15px;
}

.btn-star {
  margin-left: 3%;
  color: #e3e3e3;
}

.btn-stared {
  margin-left: 5%;
  color: #f60;
}

.btn-collection {
  margin-left: 2px;
}

.collect {
  color: #f60;
}

.undo-collect {
  color: #e3e3e3;
}

.collections {
  width: 72%;
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 #aaa;
  background-color: #fff;
  margin-left: 3%;
  margin-bottom: 20px;
  display: none;
  clear:both;
  overflow: hidden;
}

.collections>* {
  display: none;
}

.collection-card {
  margin-top: 8px;
  margin-left: 13px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0.5rem;
  width: 18%;
}

.collection-card-title {
  margin-bottom: 2px;
}

.collection-card-text {
  margin-bottom: 2px;
}

.collection-card-btn {
  height: 20px;
  width: 50px;
  margin-bottom: 2px;
  font-size: 10px;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.topic-alert {
  width: 78%;
}

/* ====== Focus.html ======*/
.focus-conditions {
  margin-top: 90px;
}

.charts * {
/*  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;*/
  font-size: .8rem;
}

/*.focus-chart-lg,
.focus-chart-xs {
  position: relative;
  border: 1px solid #e3e3e3;
}*/

.focus-chart {
  width: 100%;
  height: 270px;
}

.searchmap-xs {
  height: 360px;
  margin-top: -80px;
  margin-bottom: -40px;
}

@media (min-width: 992px) {
  .searchmap-lg {
    height: 800px;
  }
}

.btn-more {
  display: block;
  width: 8rem;
  height: 2.5rem;
  line-height: 2rem;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid #366df0;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: #366df0;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
}

/* ====== Research.html ======*/
.research-conditions {
  margin-top: 100px;
  margin-bottom: 30px;
}

.search-field {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -30px auto 20px;
}

.search-label {
  position: absolute;
  left: 27px;
  top: 45px;
}

.search-input {
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 23px;
}

.search-clear {
  position: absolute;
  right: 25px;
  top: 45px;
}

.search-clear>i {
  color: #b3b3b3;
  text-decoration: none;
}

.search-clear>i:hover {
  cursor: pointer;
}

.form-research {
  padding-top: 10px;
}

.research-tag-valid,
.research-tag-invalid {
  background-color: #fff;
  border-radius: 23px;
  width: 100px;
  margin-bottom: 8px;
  margin-right: 8px;
  text-align: center;
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block;
  cursor: pointer;
}

.research-tag-invalid {
  border: 1px solid #e3e3e3;
  color: #999;
}

.research-tag-valid {
  border: 1px solid #96f;
  color: #96f;
}

.btnTheme {
  padding-top: 8px;
}

.research-list {
  margin-bottom: 30px;
}

.research-card {
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0.5rem;
  width: 100%;
}

.research-card > .card-header {
  background-color: #e3e3e3;
}

.research-card > .card-content {
  height: 200px;
}

.research-card-title {
  margin-bottom: 2px;
}

.research-card-text {
  margin-bottom: 2px;
}

.card-item {
  overflow: auto;
  height: 200px;
}

.card-item .item-title {
  display: block;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.card-item .item-content {
  display: block;
  text-align: center;
  padding: 2px;
}

span[class*="item-content"]:hover,
.hover-item-content {
  background-color: #e3e3e3;
  cursor: default;
}

.charts a:link {
  color: #55595c;
}

/* ====== login.html ====== */
.login-section {
  margin-top: 80px;
  height: 744px;
}

.login-content {
  text-align: center;
  margin-top: 6%;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  z-index: 30;
  background: #fff;
}

#form-login {
  padding-top: 50px;
  width: 350px;
  margin: 0 auto;
}

#form-login a:hover {
  cursor: pointer;
  color: #39f;
}

.login-err {
  text-align: left;
  font-size: 12px;
  color: red;
  padding-top: 3px;
  display: none;
}

.remember-me {
  float: left;
}

.forget-pass {
  float: right;
}

.login-submit {
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.create-user {
  font-size: 15px;
  color: #1ea2e9;
}

.login-body {
  background-color: #e3e3e3;
}

/*update later*/
/*change image*/
.logo-big {
  background-image: url('../img/icon/logo-dfzq.png');
  background-size: 91px;
  background-repeat: no-repeat;
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*shake effect*/
@-webkit-keyframes shake {
    from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
}

.shake_effect {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* ====== User.html ======*/
.user-section {
  margin-top: 80px;
  margin-bottom: 20px;
}

.user-section a {
  color: #e3e3e3;
}

.user-content {
  height: 800px;
}

.user-row {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}

.btn-del-all {
  margin-left: 20px;
}

.table-row {
  padding-top: 5px;
  border-top: 1px solid #e3e3e3;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
}

.table-top {
  margin-top: 15px;
}

.table-header {
  height: 45px;
  padding-top: 10px;
/*  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;*/
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  background-color: #8CCAF9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 30;
  font-weight: bold;
}

.span-del,
.span-fork {
  text-align: center;
}

.span-fork {
  color: red;
}

.span-fork i:hover {
  cursor: pointer;
}

.table-content {
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  overflow:auto;
  height: 100%;
}

.stock-code {
  padding-left: 5px;
  padding-right: 10px;
}

.stock-code,
.stock-name {
  color: #06f;
}

div#tableContent > div:hover {
  background-color: #F0EDED;
}

div#tableContent {
  height: 80%;
  overflow-y: auto;
}

.span-checknum {
  float: right;
  padding-top: 10px;
}

.theme-toolbar {
  margin-bottom: 10px;
}

.source-navs {
  float: left;
}

/*.btn-theme-collect {
  margin-top: 3px;
}*/

#sourceNavs a.nav-link:hover {
  cursor: pointer;
}

.alert-back {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.2;
  background-color: rgb(0, 0, 0);
}

.alert-dialog {
  width: 400px;
  z-index: 999;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: #fff;
  outline: 0;
  border: 1px solid #9da8bf;
}

.alert-title {
  padding-left: 15px;
  font-size: 20px;
  background-color: #8CCAF9;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000;
}

.alert-content {
  font-size: 25px;
  text-align: center;
  padding-top: 25px;
  height: 100px;
}

.alert-content > i {
  color: red;
}

.alert-button > button {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.stock-list {
    width: 270px;
    border: 1px solid #9c9c9c;
    padding: 5px 0;
    cursor: pointer;
    font-family: Arial;
    z-index: 999;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 42px;
    display: none;
}

.research-conditions > div > div {
  position: relative;
}

.research-conditions .stock-list {
    left: 35px;
    top: 50px;
}

.banner .stock-list {
  left: 310px;
  top: 310px;
  color: #000;
}

.stock-ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.item-1 {
  padding-left: 20px;
}

.item-1,
.item-2 {
  padding-right: 30px;
}

.stock-li-hover {
  background-color: #F0EDED;
}

span[class*="item-1"]>strong,
span[class*="item-2"]>strong {
  color: red;
}

#fade-alert {
    width: 260px;
    border: 1px solid #9c9c9c;
    padding: 5px 18px;
    font-family: Arial;
    z-index: 2;
    background-color: rgba(255,255,102,.6);
    position: absolute;
    left: 25%;
    top: 30%;
    color: #000;
    display: none;
}

.btn-load {
  font-size: 13px;
  width: 50px;
  padding: 2px 12px;
  height: 24px;
  margin-top: 5px;
}

.theme-padding-top {
  padding-top: 5px;
}

.table-row-other {
    padding-top: 5px;
    margin-left: 0;
    margin-right: 0;
}

.profile-content {
  padding-left: 5%;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.label-user {
  padding: 5px;
  color: #9da2a6;
  font-weight: 700;
  width: 25%;
  padding-left: 20px;
  /*font-size: 18px;*/
}

.text-mobile,
.text-user {
  padding: 5px 5px;
  font-size: 18px;
}

.text-mobile {
  display: inline-block;
}

.field-no {
  margin-right: 15px;
  width: 40px;
}

.mobile-user {
  width: 120px;
}

#btnUpdateEmail,
#btnUpdateMobile {
  padding: 3px 10px;
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}

.input-whole-mobile {
  display: inline-block;
  position: relative;
  width: 50px;
  left: 26.5%;
  font-size: 18px;
}

.input-whole-mobile > :nth-child(1) {
    position: absolute;
    top: 5px;
    left: 3px;
    pointer-events: none;
/*    font-weight: bold;*/
    line-height: 18px;
}

.input-whole-mobile > :nth-child(2) {
  width: 100%;
  padding-left: 13px;
  border: 1px solid #9da8bf;
  border-radius: 10%;
}

#inputMobileContent {
    left: 27%;
    position: relative;
    width: 120px;
    border: 1px solid #9da8bf;
    border-radius: 6%;
    line-height: 18px;
    font-size: 18px;
    height: 31px;
    padding-left: 6px;
}

.btn-update-email,
.btn-update-mobile {
    position: relative;
    left: 26.5%;
    font-size: 15px;
    padding: 3px 10px;
    width: 180px;
}

.btn-update-email {
  width: 220px;
  left: 25.5%;
}

#inputEmailContent {
  position: relative;
    left: 25.5%;
    width: 220px;
    padding: 3px 10px;
    border: 1px solid #9da8bf;
    border-radius: 3px;
    font-size: 16px;
}

/*#changePassword > *{
  display: inline-block;
}*/

#changePassword {
  padding-left: 5%;
}

#changePassword > div:nth-child(1),
#changePassword > div:nth-child(1) > span {
  padding-left: 0;
}

#form-password input {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    width: 80%;
}

#changePasswordError {
    /*display: none;*/
    width: 80%;
    border: 1px solid red;
    padding: 8px 10px;
    color: red;
    border-radius: 3px;
    margin-bottom: 20px;
}

#form-password button {
  width:80%;
}

.passwordContent {
  margin-left: -5%;
}

#mobileErr {
  left: 28%;
    position: relative;
    font-size: 14px;
    color: red;
}

#emailErr {
  left: 26%;
    position: relative;
    font-size: 14px;
    color: red;
}

.topic-chart {
  width: 100%;
  height: 400px;
}

/*.charts span {
  float: right;
}*/
.topic-charts {
  margin-top: 10px;
}

.topic-charts .container div:nth-child(2){
  /*margin-bottom: 50px;*/
}

#form-topic {
  padding-left: 10%;
  position: relative;
}

.about-section {
  margin-top: 60px;
  height: 600px;
  background-image: url('../img/figures/about_gb.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}

.privacy-section {
  margin-top: 60px;
  min-height: 800px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.disclaimer {
  height: 550px;
  background-color: #32465f;
  color: white;
}

.disclaimer .container > div {
  margin-top: 120px;
}

.disclaimer strong {
  color: red;
}

.about-title {
  color: red;
}

.about-content {
  word-wrap: break-word; 
  word-break: normal;
/*  left: 50%;*/
  font-size: 12px;
  top: 70px;
}

.dis-title {
  text-align: left;
  font-weight: bold;
  color: #B0ABAB;
}

.privacy-title {
  color: #09f;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 35px;
}

.privacy > p {
  text-indent: 2em;
  padding-left: 10%;
  padding-right: 10%;
}

.privacy strong {
  color: red;
}

/*help.html*/
.help-section {
  margin-top: 100px;
  margin-bottom: 30px;
  min-height: 850px;
  padding-left: 350px;
  padding-right: 10%;
}

.help-section .container > div {
  display: none;
}

#intro {
  display: block;
}

.help-section p,
.help-section a
 {
  text-indent: 2em;
  font-weight: 500;
  font-size: 15px;
}

.help-section a.helptext-a {
  color: red;
  white-space: nowrap;
  padding-left: 2em;
}

.help-section a.helptext-a:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.help-section h5 {
  color: red;
}

.help-menu {
  width: 250px;
  position: absolute;
  top: 80px;
  left: 80px;
  border-radius: 4px;
  border: 1px solid #CCC;
}
.help-menu ul {
  list-style-type: none;
  padding: 0 0;
}

.help-menu a {
  color: #000;
  text-decoration: none;
}

.help-menu .menu-title {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-color: #7891D3;
  border-bottom: 1px solid #CCC;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #7891D3;
}

.accordion {
  width: 100%;
  max-width: 360px;
  /*margin: 30px auto 20px;*/
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  /*border-radius: 4px;*/
  margin-bottom: 0;
 }

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #7891D3;
}

.accordion li.open i {
  color: #7891D3;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion > li:nth-last-child(2) > div{
  border-bottom: 0;
}

.accordion > li:last-child {
  border-top: 1px solid #CCC;
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
  display: none;
  color: #000;
  font-size: 14px;
 }

 .submenu a {
  display: block;
  text-decoration: none;
  /*color: #d9d9d9;*/
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
 }

 .submenu a[class*='helptarget-a']:hover {
  background: #7891D3;
  color: #FFF;
  cursor: pointer;
 }

 .submenu a.active {
  background: #7891D3;
  color: #FFF;
 }

 .news-filter {
  margin-top: 80px;
 }

.alert-section {
  padding-top: 80px;
  background-color: #F1F1F1;
}

 .alert-section .help_blk {
    float: left;
    text-align: left;
    background-color: #fff;
    /*width: 250px;*/
    /*height: 380px;*/
    font: 15px 微软雅黑, Arial, Helvetica, sans-serif;
/*    margin: 20px;
    margin-top: 50px;*/
    line-height: 22px;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #EEF0E5;
    min-height: 460px;
    margin: 35px;
 }

.alert-section .help_blk:hover {
  color: #fff;
  background-color: #082C6B;
  /*cursor: pointer;*/
}

.alert-section .help_blk img{
  width: 100%;
  border-radius: 10px;
}

.alert-section .help_blk .download {
  color: red;
}

.alert-section .help_blk .download:hover {
  text-decoration: none;
}

 .refresh-field {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
 }

.auto-refresh {
  cursor: pointer;
}

 .auto-refresh > input[type=checkbox] {
  display: none;
 }

 .auto-refresh .box {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 28px;
    border-radius: 14px;
    background-color: #F0F0F0;
    margin-left: 20px;
 }

.auto-refresh .box:after {
    -webkit-transition: margin .3s;
    -moz-transition: margin .3s;
    -o-transition: margin .3s;
    transition: margin .3s;
    position: relative;
    top: 50%;
    display: block;
    margin-left: 4px;
    content: "";
    font-size: 12px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.auto-refresh > input[type=checkbox]:checked+.box {
    background-color: #E6F2FF;
}

.auto-refresh > input[type=checkbox]:checked+.box:after {
    background-color: #1482F0;
    margin-left: 34px;
}

.news-filter-label {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 15px;
    width: auto;
}

.news-category {
  margin-top: 16px;
  display: inline-block;
}

.label-category {
  padding: 3px 10px;
  font-size: 15px;
  color: #ccc;
  font-weight: bold;
}

.label-category:hover {
  cursor: pointer;
  color: #1482F0;
}

.label-category.active {
  background-color: #E6F2FF;
  color: #1482F0;
}

.news-content {
  margin-top: 80px;
}

.news-content ol,
.news-content ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

.sameday-news > header {
    float: left;
    display: inline-block;
    min-width: 3.5%;
    text-align: center;
    padding: 8px 0;
    background-color: #4285f4;
    color: #fff;
    line-height: 15px;
}

.sameday-news > ul {
    display: inline-block;
    width: 90%;
    margin-left: 25px;
}

.sameday-news .date span {
  display: block;
  padding-bottom: 6px;
  font-size: 14px;
}

.sameday-news .date b {
  font-size: 20px;
}

.sameday-news .title {
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

.sameday-news p {
    color: #828a92;
    letter-spacing: 1px;
    font-size: .9rem;
    line-height: 1.5rem;
    word-break: break-all;
}

.sameday-news a,
.sameday-news .expand-btn {
  color: #4285f4;
}

.sameday-news a:hover,
.sameday-news .expand-btn:hover {
  color: #f90;
  text-decoration: none;
}

.sameday-news .news-footer {
    margin-top: .4rem;
    padding-bottom: 1.7rem;
    font-size: .65rem;
    line-height: 1.5rem;
    color: #999;
    position: relative;
}

.sameday-news .news-footer .collapse-btn {
    float: right;
    /*display: none;*/
    margin: 0;
    padding: 1px 6px 0;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    color: #999;
    user-select: none;
}
.sameday-news .news-footer .collapse-btn:hover {
  color: #4285f4;
}

.sameday-news .news-footer span {
    margin-right: 10px;
}

.sameday-news li {
  margin-bottom: 40px;
}

.loading-more {
  border-top: 1px solid #e3e3e3;
  display: none;
}

.more-button .btn-more {
  margin-top: 20px;
  min-width: 300px;
  display: none;
}

.more-button .btn-more.active {
  display: block;
}

.highlight {
  font-style: normal;
  color: #f60;
  font-weight: 1000;
}

.theme-inputbar .inputFreshWord {
  width: 120px;
}

.theme-inputbar .inputFreshWord > input {
  width: 99%;
}

.theme-inputbar {
  float: right;
  display: none;
  width: 20%;
}

.theme-inputbar * {
  display: inline-block;
}

.topic-conditions .stock-list {
  left: 130px;
}

.btn-theme-collect {
  left: 70px;
  position: relative;
}

#stockInput:focus,
#eventInput:focus {
  outline: none;
}
#stockInput.error {
  border: 1px solid red;
}

.topic-conditions #error-msg {
  left: 10%;
  position: relative;
  width: 85%;
}

#fade-alert.user-alert {
  left: 50%;
  top: 35%;
}

.topic-pool {
  position: absolute;
  z-index: 30;
  background-color: rgba(3, 63, 73, 0.3);
  display: none;
  width: 100%;
  top: 0;
  left: 0;
}

.pool-content {
  text-align: center;
  margin-top: 150px;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 20px;
  padding-bottom: 40px;
  width: 600px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  z-index: 30;
  background: #fff;
}

.pool-content .btn-close-pool {
  padding-bottom: 10px;
}

#topic-tags {
  max-height: 500px;
  overflow-y: auto;
}

.btn-updown {
  position: absolute;
  right: 13%;
  bottom: 50%;
  z-index: 698;
  color: #fff;
  font-size: 50px;
  opacity: .4;
  text-align: center;
}

.btn-updown > span {
  display: block;
}

.btn-updown i:hover {
  cursor: pointer;
  font-size: 60px;
}

.research-left-header {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.research-left-header > h6 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #A39C9C;
}

.research-right-header {
  display: inline-block;
  position: relative;
}